	<div class="sidebar-r flue">
    	<div class="side-inner">
        	<p class="tilte-sr"></p>
			{{ productHistory|length }}
            <div class="si-rotete-out" style="{% if productHistory|length == 0 %}height:0px;
				{% elseif productHistory|length == 1 %}height: 70px;
				{% endif %}">
			
                <ul class="si-rotete">
                    <li>
						<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail">
							<img src="{{ product.img|default('http://placehold.it/68')|imagine_filter('sylius_68x68') }}" alt="" />
						</a>
					</li>
					{% endfor %}
                </ul>
            </div>
			{% if productHistory|length > 2 %}
            <span class="prev left"></span>
            <span class="next right"></span>
			{% endif %}
            <div class="cart-side">
            	<p>购物车</p>
                <p class="cs-mount">({{ cart.totalItems}})</p>
				<form action="{{ path('sylius_cart_summary') }}">
                <input type="submit" class="bt-cart-side" value="去结算">
				</form>
            </div>
            <div class="service-side"><a href="#">售前服务</a></div>
            <div class="service-side"><a href="#">售后服务</a></div>
        </div>
        <div class="to-top">TOP</div>
    </div>