{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}
{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}

{% block content -%}
    <h1>我的收藏夹</h1>

    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>产品</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in bookmarks %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
        <a href="{{ path('sylius_product_show', {'slug': entity.product.slug}) }}" class="thumbnail">
            <img src="{{ entity.product.image.path|default('http://placehold.it/77kg')|imagine_filter('sylius_77x77') }}" alt="" />
{{ entity.product }}
        </a>
					</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                {{ buttons.delete(path('jiwen_bookmark_delete', { 'id': entity.id })) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ pagination(bookmarks) }}

    {% endblock %}
