<!DOCTYPE html>

{% set settings = sylius_settings_all('general') %}

<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

        {# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
            '@SyliusWebBundle/Resources/assets/jiwen/css/bootstrap.css'
            '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css'
            '@SyliusWebBundle/Resources/assets/jiwen/css/base.css'
            '@SyliusWebBundle/Resources/assets/jiwen/css/common.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}
<!--[if lt IE 9]>
        {% javascripts output='assets/compiled/IE9.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/lib/IE9.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
<![endif]-->
<!--[if lt IE 7]>
			{% javascripts output='assets/compiled/IE7.js'
					'@SyliusWebBundle/Resources/assets/jiwen/js/lib/ie7-squish.js'
					'@SyliusWebBundle/Resources/assets/jiwen/js/lib/PNG.js'
			%}
					<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
	<script>
		PNG.fix('.png');
	</script>
<![endif]-->
    </head>
    <body>
        {% block header %}
		<header>
			<div class="top-ads">
				<div class="t-ads-wrap">
					<div class="t-ads-out">
						<div class="t-ads-wrap-inner">
						 {{ render(controller('JiwenBannerBundle:Banner:renderBanner', {'category':banner.category.top, 'limit': 6, 'template' : 'top.html'})) }}
						</div>
					</div>
					<span class="ta-drug"></span>
					<span class="ta-pre"></span>
					<span class="ta-next"></span>
				</div>
			</div>
			<div class="header-mid clearfix">
				<div class="header-m-wrap">
						<h1 class="logo"><a href="{{ path('sylius_homepage') }}"><img src="/assets/images/logo.jpg" width="155" height="52" alt="基文商城"></a></h1>
						<ul class="nav-top">
							<li><b></b><a href="#">今日团购</a></li>
							<li><b></b><a href="#">最新到货</a></li>
							<li><b></b><a href="#">积分换礼</a></li>
							<li><b></b><a href="#">公益慈善</a></li>
						</ul>
					<div class="header-m-r">
						<ul class="subnav-top">
							<li><a href="#">收藏基文商城</a></li>
							<li><a href="#">手机版</a></li>
							<li class="more-space sn-drop"><span></span><a href="#">帮助中心</a><b></b><span style="left:auto; right:-5px;"></span>
								<ul class="subnav-drop">
									<li class="pointer"></li>
									<li><a href="#">购物流程</a></li>
									<li><a href="#">退换货流程</a></li>
									<li><a href="#">投诉建议</a></li>
								</ul>
							</li>
							{% if is_granted('ROLE_USER') %} 
							<li class="sn-login">
								{{ app.user.username }}  <a href="{{ path('fos_user_security_logout') }}">退出</a>
							</li>
							<li class="sn-login sn-drop"><a href="{{ path('sylius_account_homepage') }}">我的基文</a><b></b>
								<ul class="subnav-drop">
									<li class="pointer"></li>
									<li><a href="{{ path('sylius_account_order') }}">我的订单</a></li>
									<li><a href="#">我的积分</a></li>
									<li><a href="{{ path('jiwen_bookmark_index') }}">我的收藏夹</a></li>
									{% if is_granted('ROLE_SYLIUS_ADMIN') %} 
									<li><a href="{{ path('sylius_backend_dashboard') }}">管理中心</a></li>
									{% endif %}
								</ul>
							</li>
							{% else %}
							<li class="sn-login">
								<a href="{{ path('fos_user_security_login') }}">登录</a> | <a href="{{ path('fos_user_registration_register') }}">注册</a>
							</li>
							{% endif %}


						</ul>
						<form class="search clearfix">
							<input type="submit" id="search-bt">
							<input type="text" name="search" id="search-form" >
						</form>
					 </div>
				</div>
			</div>
		</header>
        {% endblock %}
        {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'fos_user_success'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ name == 'fos_user_success' ? 'success' : name }}">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ flash|trans }}
                </div>
            {% endfor %}
        {% endfor %}

		{% block content %}
		{% endblock %}

		{% block bottom_ads %}
		<div class="bottom-ads">
			<div class="bta-wrap">
				<div class="bta-inner">
					<a href="#"><img src="/assets/images/bn-bottom1.jpg" width="339" height="125" alt=""></a>
					<a href="#"><img src="/assets/images/bn-bottom2.jpg" width="339" height="125" alt=""></a>
					<a href="#"><img src="/assets/images/bn-bottom3.jpg" width="339" height="125" alt=""></a>
				</div>
			</div>
		</div>
		{% endblock %}
		<div id="bottom-list" class="clearfix">
			<ul>
				<li>
					<h4><a href="#">购物指南</a></h4>
					<ul class="btl-inner">
						<li><a href="#">购物流程</a></li>
						<li><a href="#">会员介绍</a></li>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">联系客服</a></li>
					</ul>
				</li>
				<li>
					<h4 class="blh-bg2"><a href="#">配送服务</a></h4>
					<ul class="btl-inner">
						<li><a href="#">上门自提</a></li>
						<li><a href="#">快递运输</a></li>
						<li><a href="#">如何送礼</a></li>
						<li><a href="#">Oversea shopping</a></li>
					</ul>
				</li>
				<li>
					<h4 class="blh-bg3"><a href="#">支付方式</a></h4>
					<ul class="btl-inner">
						<li><a href="#">货到付款</a></li>
						<li><a href="#">在线服务</a></li>
						<li><a href="#">分期付款</a></li>
						<li><a href="#">邮局汇款</a></li>
						<li><a href="#">公司转账</a></li>
					</ul>
				</li>
				<li>
					<h4 class="blh-bg4"><a href="#">售后服务</a></h4>
					<ul class="btl-inner">
						<li><a href="#">售后服务政策</a></li>
						<li><a href="#">售后服务流程</a></li>
						<li><a href="#">价格保护</a></li>
						<li><a href="#">退款说明</a></li>
						<li><a href="#">退换货</a></li>
						<li><a href="#">取消订单</a></li>
					</ul>
				</li>
				<li>
					<h4 class="blh-bg5"><a href="#">了解基路</a></h4>
					<ul class="btl-inner">
						<li><a href="#">关于我们</a></li>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">广告服务</a></li>
					</ul>
				</li>
				<li>
					<h4 class="blh-bg6"><a href="#">客服中心</a></h4>
					<ul class="btl-inner">
						<li class="bt-phone">32458888</li>
						<li class="bt-time">上班时间<br>上午9点 - 下午6点</li>
						<li class="icon-service1"></li>
						<li class="icon-service2"></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="bottom-line">
			<a href="#" class="left"><img src="/assets/images/logo-bottom.jpg" width="196" height="21" alt="基文商城，爱耶稣爱生活"></a>
			<p class="right">京ICP备07014451号-1 京公网安备110102003886-4号 © 基文商城报版权所有</p>
		</div>
        {% block javascripts %}
        {% javascripts output='/assets/compiled/frontend.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/lib/jquery-1.8.1.min.js'
            'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/lib/jquery-effects.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/lib/jquery.cycle.all.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/lib/PIE.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/lib/plugins.js'
            '@SyliusWebBundle/Resources/assets/jiwen/js/custom.js'

        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
