{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content -%}
    <h1>修改评论</h1>

    <form action="{{ path('account_comment_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(edit_form.comment) }}
        {{ form_label(edit_form.score) }}
		<div id="star" data-score="{{ entity.score }}"></div>
        {{ form_widget(edit_form.score) }}
		<br/>
        {% if edit_form.vars.value.path is not null %}
            <img src="{{  edit_form.vars.value.path|imagine_filter('sylius_125x125') }}" />
        {% endif %}
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">保存</button>
        </p>
    </form>

{% endblock %}
