
    <div class="sec-space clearfix">
    	<div class="sec-title">
        	<h3 class="book-cd"><span>图书音像</span><b class="png"></b>
            	<div class="st-drop std-bkcd">
					{% for taxo in taxonomy.children %}
                    <ul class="{% if loop.first %}left{% else %}right{% endif %}">
                        <li class="std-title">{{ taxo }}：</li>
						{% for row in taxo.children %}
                        <li><a href="{{ path('sylius_product_index_by_taxon', {permalink: row.permalink}) }}">{{ row }}</a></li>
						{% endfor %}
                    </ul>
					{% endfor %}
                    <div style="clear:both;"></div>
                </div>
            </h3>
        </div>
        <div class="bcd-list left">
        	<div class="list-subtitle tab-switcher">
                <ul>
					{% for row in taxonomy_products %}
                    <li><a href="{{ path('sylius_product_index_by_taxon', {permalink: row.node.permalink}) }}" title="" class="{% if loop.first %}tabactive{% endif %}">{{ row.node }}</a></li>
					{% endfor %}
                </ul>    
       	   </div>
           <div class="tab_content">
				{% for row in taxonomy_products %}
               <div class="clear {% if not loop.first %}hide{% endif %}">
                    <ul class="list-index">
					{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list_p %}
					{{ list_p(row.products, blank_form) }}
                    </ul>
               </div>
				{% endfor %}
           </div>
        </div>
        <div class="book-rank right">
        	<div class="br-list tab-switcher right">
            	<ul>
					{% for product in hotSale %}
                    <li>
						<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" title="{{ product.name }}" class="{% if loop.first %}tabactive{% endif %}">
            <img src="{{ product.image.path|default('http://placehold.it/40')|imagine_filter('sylius_40x40') }}" alt="{{ product.name }}"  align="left"/>
							<p>{{ product.name }}</p></a>
					</li>
					{% endfor %}
                </ul> 
            </div>
            <div class="tab_content">
            	<h3>新书飙升榜</h3>
				{% for product in hotSale %}
                <div class="{% if not loop.first %}hide{% endif %}">
                	<ul class="bookrank-text">
                        <li class="list-img">
							<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="pic">
								<img src="{{ product.image.path|default('http://placehold.it/40')|imagine_filter('sylius_125x125') }}" alt="{{ product.name }}"></a><span class="icon-no2"></span></li>
                        <li><a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a></li>
                        <li><span class="price">{{ product.price|sylius_money }}</span>{% if product.saleQuantity %}售量: {{ product.saleQuantity }}{% endif %}</li>
                    </ul>
                </div>
				{% endfor %}
            </div>
        </div>
    </div>