{% extends 'SyliusWebBundle:Frontend:layout.jiwen.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list_grid %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets output='assets/compiled/frontend-sub.css' filter='cssrewrite'
		'@SyliusWebBundle/Resources/assets/jiwen/css/sub-css.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
<div id="wrap" class="clearfix">
	<!--sidebar-->
	{{ render(controller('JiwenGeneralBundle:General:floatCart')) }}
    <!--guidie-->
    <div class="guide clearfix">
    	<nav id="nav-sub">
    	<h2 class="nav-hole">全部商品分类</h2>
 		{{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.taxonomy.html.twig'}) }}
        </nav>
        <div class="guide-sign">所在位置： <a href="{{ path('sylius_homepage') }}">首页</a> 
			{% if taxon.parent %}
			> <a href="{{ path('sylius_product_index_by_taxon', {permalink: taxon.parent.permalink}) }}">{{ taxon.parent }}</a>
			{% endif %}
			> <a href="{{ path('sylius_product_index_by_taxon', {permalink: taxon.permalink}) }}">{{ taxon }}</a>
		</div>
	</div>
	<!--nav-->
    <div class="sub-side-l clear">
        <nav id="subpage-nab">
            <h3>{{ taxon.parent }}</h3>
			{% block navigation %}
				<ul>
					{% for sub in taxon.parent.children %}
					<li><a href="{{ path('sylius_product_index_by_taxon', {permalink: sub.permalink}) }}">{{ sub.name }}</a></li>
					{% endfor %}
				</ul>
			{% endblock %}
        </nav>
		{% block sidebar_left %}
		{% endblock %}
    </div>
    <div id="sub-wrap-r" class="right">
        <!--list-icons-->
        <div id="list-icon" class="right">
        	<div class="list-style left">
            	<p class="lstyle1-on"></p>
                <p class="lstyle2"></p>
            </div>
            <div class="list-option left">
            	<p class="on">销 量</p>
                <p>价 格</p>
                <p>评价数</p>
                <p>上架时间</p>
                <p>出版时间</p>
            </div>
			{% if products.haveToPaginate() %}
        	<div class="li-pages right">
				{{ pagerfanta(products, 'jiwen', {'position': 'top'}) }}
			</div>
			{% endif %}
        </div>
        <!--list-content-->
        <div class="list-content right">
			<ul class="list-sub">
				{{ list_grid(products) }}
			</ul>
            <div style="clear:both;"></div>
            {% if products.haveToPaginate() %}
			<div class="page-num">
				{{ pagerfanta(products, 'jiwen', {'previous_message':'《上一页',
					'next_message':'下一页》',
					'position': 'bottom'
					}) }}
            </div>
			{% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block bottom_ads %}
	{{ render(controller('JiwenGeneralBundle:General:giftRecommend')) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
	{% javascripts output='/assets/compiled/frontend-sub.js'
		'@SyliusWebBundle/Resources/assets/jiwen/js/jquery.featureList-1.0.0.js'
		'@SyliusWebBundle/Resources/assets/jiwen/js/custom_sub.js'

	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}