{% extends 'SyliusWebBundle:Frontend:Product/layout.indexSection.html.twig' %}
			{% block navigation %}
				<ul>
				{% for row in category %}
					<li><a href="{{ path('sylius_product_index_by_taxon', {permalink: row.permalink}) }}">{{ row.name }}</a></li>
				{% endfor %}
				</ul>
			{% endblock %}

		{% block section_banner %}
        <section id="feature_list" class="left">
		{{ render(controller('JiwenBannerBundle:Banner:renderBanner', {'category':banner.category.sections, 'limit': 5, 'template' : 'nav.html', 'taxon': taxon.id })) }}
        </section>
		{% endblock %}

		{% block top10 %}
			<div class="subpage-rank right">
				<ul>
					{% for product in top10 %}
					<li>
						{% if loop.index == 1 %}
						<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail">
							<img src="{{ product.image.path|default('http://placehold.it/130')|imagine_filter('sylius_130x130') }}" alt="" />
						</a>
						<span class="icon-rank1 png"></span>
						<div class="sr1-text">
							<p><a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a></p>
							<p class="price">{{ product.price|sylius_money }} </p>
							<p>售量: {{ product.saleQuantity }} </p>
						</div>
						{% else %}
							<span class="srnum">{{ loop.index }}.</span>
							<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail">
							<img src="{{ product.image.path|default('http://placehold.it/40')|imagine_filter('sylius_40x40') }}" alt="" />
						</a>
							<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a>
						{%endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		{% endblock %}

		{% block main_content %}
			<div class="sec-space clear">
				<div class="subpage-sec-title tab-switcher">
					<h3 class="tabactive left">今日推荐</h3>
					<div class="icon-rotate right">
						<ul>
							<li><a href="#" title="" class="tabactive">1</a></li>
							{% if recommend|length > 1 %}
							<li><a href="#" title="">2</a></li>
							{% endif %}
							{% if recommend|length > 2 %}
							<li><a href="#" title="">3</a></li>
							{% endif %}
						</ul>    
					</div>
				</div>
				<div class="tab_content">
					{% for row in recommend %}
					<div class="clear {% if loop.index != 1 %}hide{% endif %}">
						<ul class="list-index">
							{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list_p %}
							{{ list_p(row, blank_form) }}
						</ul>
					</div>
					{% endfor %}
				</div>
			</div>
			<div style="clear:both;"></div>
		{% endblock %}