{% extends 'SyliusWebBundle:Frontend:layout.jiwen.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets output='assets/compiled/frontend-sub.css' filter='cssrewrite'
		'@SyliusWebBundle/Resources/assets/jiwen/css/sub-css.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
<div id="wrap" class="clearfix">
	<!--sidebar-->
	<div class="sidebar-r flue">
    	<div class="side-inner">
        	<p class="tilte-sr"></p>
            <div class="si-rotete-out">
                <ul class="si-rotete">
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                </ul>
            </div>
            <span class="prev left"></span>
            <span class="next right"></span>
            <div class="cart-side">
            	<p>购物车</p>
                <p class="cs-mount">(5)</p>
                <input type="button" class="bt-cart-side" value="去结算">
            </div>
            <div class="service-side"><a href="#">售前服务</a></div>
            <div class="service-side"><a href="#">售后服务</a></div>
        </div>
        <div class="to-top">TOP</div>
    </div>
    <div class="sidebar-l flue clearfix">
        <p class="tilte-sr tilte-sl"></p>
        <ul>
            <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
        </ul>
    </div>
    <!--guidie-->
    <div class="guide clearfix">
    	<nav id="nav-sub">
    	<h2 class="nav-hole">全部商品分类</h2>
 		{{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.taxonomy.html.twig'}) }}
        </nav>
        <div class="guide-sign">所在位置： <a href="{{ path('sylius_homepage') }}">首页</a> > <a href="{{ path('sylius_product_index_by_taxon', {permalink: taxon.permalink}) }}">{{ taxon }}</a></div>
    </div>
	<!--nav-->
    <div class="sub-side-l clear">
        <nav id="subpage-nab">
            <h3>{{ taxon }}</h3>
			{% for row in category %}
            <ul>
                <li>{{ row }}</li>
				{% for sub in row.children %}
                <li><a href="{{ path('sylius_product_index_by_taxon', {permalink: sub.permalink}) }}">{{ sub.name }}</a></li>
				{% endfor %}
            </ul>
			{% endfor %}
        </nav>
        <div class="book-review">
        	<h5>读后分享</h5>
            <dl>
            	<dt><a href="#">强烈推荐小杨的这本书</a></dt>
                <dd>当代华语文坛大师，其作品是真正深入街头巷尾的文学经典。成为中国人的口头禅，对当代中国人的价值观产生了深远的影响。</dd>
            </dl>
            <dl>
            	<dt><a href="#">强烈推荐小杨的这本书一本划时代的好书</a></dt>
                <dd>当代华语文坛大师，其作品是真正深入街头巷尾的文学经典。成为中国人的口头禅，对当代中国人的价值观产生了深远的影响。</dd>
            </dl>
        </div>
    </div>
    <div id="sub-wrap-r" class="right">
        <!--banner-->
        <section id="feature_list-tushu" class="left">
		{{ render(controller('JiwenBannerBundle:Banner:renderBanner', {'category':banner.category.books, 'limit': 3, 'template' : 'nav.html'})) }}
        </section>
        <!--rank-->
		{% for tops in top10 %}
        <div class="subpage-rank right">
            <ul>
				{% for product in tops %}
                <li>
					{% if loop.index == 1 %}
					<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail">
						<img src="{{ product.image.path|default('http://placehold.it/130')|imagine_filter('sylius_130x130') }}" alt="" />
					</a>
					<span class="icon-rank1 png"></span>
                    <div class="sr1-text">
                        <p><a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a></p>
                        <p class="price">{{ product.price|sylius_money }} </p>
                        <p>售量: {{ product.saleQuantity }} </p>
                    </div>
					{% else %}
						<span class="srnum">{{ loop.index }}.</span>
						<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail">
						<img src="{{ product.image.path|default('http://placehold.it/40')|imagine_filter('sylius_40x40') }}" alt="" />
					</a>
						<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.name }}</a>
					{%endif %}
                </li>
				{% endfor %}
            </ul>
        </div>
		{% endfor %}
        <div style="clear:both;"></div>
        <!--section-->
        <div class="sec-space clear">
            <div class="subpage-sec-title tab-switcher">
                <h3 class="sst-tile sst-bg-red left">小编推荐</h3>
                <div class="list-subtitle left">
                    <ul>
						{% for row in recommendBooks %}
                        <li><a href="#" title="" class="{% if loop.index == 1 %}tabactive{% endif %}">{{ row.taxon }}</a></li>
						{% endfor %}
                    </ul>    
                </div>
            </div>
            <div class="tab_content">
				{% for row in recommendBooks %}
				<div class="clear {% if loop.index != 1 %}hide{% endif %}">
					<ul class="list-index">
						{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list_p %}
						{{ list_p(row.products, blank_form) }}
					</ul>
				</div>
				{% endfor %}
            </div>
        </div>
        <!--banner-small-->
        <div class="book-pack left">
        	<p>套餐搭配</p>
        	<a href="#"><img src="/assets/images/bn-taocan.jpg" width="271" height="108" alt=""></a>
        </div>
        <div class="book-congshu right">
        	<p>丛书系列</p>
            <a href="#"><img src="/assets/images/bn-congshu1.jpg" width="271" height="108" align="" class="left"></a>
            <a href="#"><img src="/assets/images/bn-congshu2.jpg" width="271" height="108" align="" class="right"></a>
        </div>
        <div style="clear:both;"></div>
        <!--section-->
        <div class="sec-space clear">
            <div class="subpage-sec-title tab-switcher">
                <h3 class="sst-tile sst-bg-red left">新书试读</h3>
                <div class="list-subtitle left">
                    <ul>
                        <li><a href="#" title="" class="tabactive">教牧神学</a></li>
                        <li><a href="#" title="">成长灵修</a></li>
                        <li><a href="#" title="">婚姻家庭</a></li>
                        <li><a href="#" title="">亲子教育</a></li>
                        <li><a href="#" title="">职场事工</a></li>
                    </ul>    
                </div>
            </div>
            <div class="tab_content">
                <div class="clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale png"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale png"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--section-->
        <div class="sec-space clear">
            <div class="subpage-sec-title tab-switcher">
                <h3 class="sst-tile sst-bg-red left">音乐聚焦</h3>
                <div class="list-subtitle left">
                    <ul>
                        <li><a href="#" title="" class="tabactive">音 乐</a></li>
                        <li><a href="#" title="">教 育</a></li>
                        <li><a href="#" title="">影 视</a></li>
                    </ul>    
                </div>
            </div>
            <div class="tab_content">
                <div class="clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--most-->
        <div class="sec-space clear">
            <div class="subpage-sec-title tab-switcher">
                <ul class="sst-rotate">
                    <li><a href="#" title="" class="tabactive">好评最多</a></li>
                    <li><a href="#" title="">最多关注</a></li>
                    <li><a href="#" title="">最多收藏</a></li>
                </ul>    
            </div>
            <div class="tab_content">
                <div class="clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-ranks1"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a><span class="icon-ranks2"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a><span class="icon-ranks3"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-ranks1"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a><span class="icon-ranks2"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a><span class="icon-ranks3"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide clear">
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-ranks1"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a><span class="icon-ranks2"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a><span class="icon-ranks3"></span></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-index">
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner last-nob">
                                <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                                <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                                <p><span class="price">￥111</span><span>售量: 2541</span></p>
                                <div class="inlist-view clearfix">
                                    <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                    <div class="clear">
                                    <input type="button" class="cart-index">
                                    <input type="button" class="like-index">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
	{% javascripts output='/assets/compiled/frontend-sub.js'
		'@SyliusWebBundle/Resources/assets/jiwen/js/jquery.featureList-1.0.0.js'
		'@SyliusWebBundle/Resources/assets/jiwen/js/custom_sub.js'

	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}