{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}
{%block content%}
          <li><a href="{{ path('blogger_admin_homepage')}}">文章列表</a></li>
          <li class="active"><a href="{{ path('blogger_classify_homepage')}}">文章分类</a></li>
          <li><a href="{{ path('blogger_classify_addpage')}}">添加分类</a></li>
           <li><a href="{{ path('blogger_admin_addpage')}}">添加文章</a></li>
    <table class="table table-hover">
        <thead>
			<tr>
				<th>编号</th>
				<th>分类名</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		 {%for list in classify %}
			<tr>
				<td>{{list.id}}</td>
				<td>{{list.classify}}</td>
				<td><a class='btn mini-btn' href="{{ path('blogger_classify_modpage',{ 'id': list.id})}}">修改</a></td>
			</tr>
		{%endfor%}
		</tbody>
	</table>
{%endblock%}