{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>Banner</h1>

    <table class="record_properties table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if entity.path is not null %}
                        <img src="{{ asset('uploads/documents/' ~ entity.path ) }}" height="100" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Clicks</th>
                <td>{{ entity.clicks }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{{ entity.startTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{{ entity.endTime|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('banner') }}">
            返回列表
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('banner_edit', { 'id': entity.id }) }}">
            编辑
        </a>
    </li>
    <li>
        <form action="{{ path('banner_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="return confirm('确定要删除吗？')" class="btn btn-danger">删除</button>
        </form>
    </li>
</ul>
{% endblock %}
