{% if entity|length > 1 %}
{% for row in entity %}
<a href="{{ row.link }}" target="{{ category.target }}"><img src="{{ asset(banner.path ~ '/' ~ row.path) }}" width="{{ category.width }}" height="{{ category.height }}"></a>
{% endfor %}
{% else %}
<a href="{{ entity.link }}" target="{{ category.target }}"><img src="{{ asset(banner.path ~ '/' ~ entity.path) }}" width="{{ category.width }}" height="{{ category.height }}"></a>
{% endif %}